#grid-container .item4 {
  padding: 0rem 15rem;
}

.item3 #status-info {
  font-size: 3rem;
  animation: colorCycleAccent 1s infinite;
}

.item4 form {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr auto;
  align-items: center;
  grid-column-gap: 0.5rem;
}

.item4 form #button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item4 form button {
  background-color: transparent;
  border: none;
  padding: 0;
}

.item4 form #play-btn {
  color: var(--color-accent-600);
  align-self: center;
  width: 5rem;
  object-fit: cover;
  cursor: pointer;
  /* animation: colorCycle 1s infinite; */
  color: var(--color-red-500);
  cursor: pointer;
}

.item4 form input {
  width: 100%;
  height: 5rem;
  background-color: var(--color-white-600);
  border: 1px solid var(--color-grey-300);
  box-shadow: 0px 0px 1px var(--color-grey-100);
  padding: 0 0.7rem;

  border-radius: 10px;
  overflow: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--color-white-600);
  animation: colorCycleGrey 1s infinite;
}

.item4 form input:focus {
  outline: none;
  animation: none;
}

#grid-container > .item5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
  overflow: hidden;
}

.item5 #controller-container {
  display: flex;
  justify-content: center;
  grid-column: 1/4;
  background-color: var(--color-grey-600);
  height: 100%;
  align-items: center;
  overflow: hidden;
}

.item5 #controller-text {
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
  width: 100%;
  color: var(--color-white-600);
}

.item5 button {
  padding: 0;
  margin: 0;
  display: block;
  height: 100%;
  grid-row: 2/4;
  border: none;
  background-color: transparent;
}

.item5 button svg {
  margin: 0;
  width: 5rem;
  padding: 1rem;
  /* color: var(--color-white-600); */
  color: var(--color-primary);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.1s ease-in 0s, color 0.1s ease-in 0s;
}
.item5 button :hover {
  background-color: var(--color-primary);
  color: var(--color-white-600);
}

.highlight {
  animation: colorCycle 1s infinite;
  font-weight: bold;
}

.sorted {
  color: var(--color-accent-100);
  font-weight: bold;
  animation: colorCycleAccent 1s infinite;
}

@keyframes colorCycle {
  0% {
    color: var(--color-red-500);
  }
  50% {
    color: var(--color-red-100);
  }
  100% {
    color: var(--color-red-500);
  }
}

@keyframes colorCycleGrey {
  0% {
    background-color: var(--color-grey-300);
  }
  50% {
    background-color: var(--color-grey-100);
  }
  100% {
    background-color: var(--color-grey-300);
  }
}

@keyframes colorCycleBlack {
  0% {
    background-color: var(--color-black-700);
  }
  50% {
    background-color: var(--color-white-600);
  }
  100% {
    background-color: var(--color-black-700);
  }
}

@keyframes colorCycleBlue {
  0% {
    background-color: var(--color-primary);
  }
  50% {
    background-color: var(--color-secondary);
  }
  100% {
    background-color: var(--color-primary);
  }
}

@keyframes colorCycleAccent {
  0% {
    color: var(--color-accent-100);
  }
  50% {
    color: var(--color-accent-300);
  }
  100% {
    color: var(--color-accent-100);
  }
}
