#grid-container {
  grid-template-columns: 2fr 1fr 1fr;
}

#grid-container > section {
  text-align: center;
  /* padding: 0.8rem 0.8rem; */
  padding: 0;
  font-size: 30px;
  border-radius: 15px;
  overflow: hidden;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 25rem;
  border: 1px solid var(--color-grey-400);
}

#overview-content h1 {
  font-size: 3.5rem;
}
#overview-content p {
  font-size: 1.25rem;
  text-align: left;
}

.item2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  border: 1px solid var(--color-grey-400);
  /* display: flex;
  flex-direction: column; */
  display: grid;
  grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
  align-items: center;
}

.item2 #guide-container {
  background-color: var(--color-accent-600);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8.5rem;
  min-height: 8.5rem;
  max-height: 8.5rem;
}

.item2 #guide {
  font-family: "Gruppo", sans-serif;
  color: var(--color-white-600);
  margin: 0;
  font-size: 2.5rem;
}

.item2 p {
  padding: 0;
  margin: 0;
  font-size: 2rem;
  font-weight: 400;
}

.item2 #user-instructions {
  font-style: italic;
}
.item3 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 5;
  height: 20rem;
  max-height: 20rem;
  display: grid;
  grid-template-rows: 2fr 1fr;
  align-items: center;
  background-color: var(--color-black-700);
  border: 1px solid var(--color-grey-400);
}

.item3 p {
  padding: 0;
  margin: 0;
  font-size: 4rem;
  font-weight: bold;
  color: var(--color-white-600);
}

.item3 > #result {
  font-family: "Major Mono Display";
  font-size: 4rem;
}

.item3 > #status-info {
  font-family: "Oxanium", sans-serif;
  font-size: 2.5rem;
  animation: colorCycleAccent 1s infinite;
}
.item4 {
  grid-column: 1/3;
  grid-row: 5/6;
}

.item4 form p {
  margin: 0;
}

.item5 {
  font-family: "Gruppo", sans-serif;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 6;
  height: 30rem;
  border: 1px solid var(--color-grey-400);
}

#grid-container > .item5 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
  overflow: hidden;
}

.item5 #controller-container {
  display: flex;
  justify-content: center;
  grid-column: 1/4;
  background-color: var(--color-grey-600);
  height: 100%;
  align-items: center;
  overflow: hidden;
}

.item5 #controller-text {
  text-transform: uppercase;

  font-size: 2.5rem;
  margin: 0;
  padding: 0;
  width: 100%;
  color: var(--color-white-600);
}

.item5 button {
  padding: 0;
  margin: 0;
  display: block;
  height: 100%;
  grid-row: 2/4;
  border: none;
  background-color: transparent;
}

.item5 button svg {
  margin: 0;
  width: 5rem;
  padding: 1rem;
  /* color: var(--color-white-600); */
  color: var(--color-primary);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.1s ease-in 0s, color 0.1s ease-in 0s;
}
.item5 button :hover {
  background-color: var(--color-primary);
  color: var(--color-white-600);
}

@media (max-width: 1800px) {
  .item1 {
    height: 15rem;
  }

  .item2 #guide {
    margin: 0;
    font-size: 2rem;
    width: 100%;
    height: 25%;
    background-color: wheat;
  }

  .item2 p {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 400;
  }

  #overview-content h1 {
    font-size: 3rem;
  }
  #overview-content p {
    font-size: 1rem;
  }

  .item5 {
    height: 27rem;
  }
}
